.attraction {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  &__element {
    background-color: var(--main-color);
    color: var(--white-color);
    width: 31%;
    margin: 6px;
    padding: 15px;
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  @media (max-width: 769px) {
    &__element {
      width: 46%;
    }
    &__wrapper {
      display: flex;
      justify-content: center;
    }
  }
  @media (max-width: 426px) {
    &__element {
      width: 100%;
    }
  }
}