.calltoaction {
  padding: 30px 0;
  background: rgba(137, 2, 62, 0.47);
  margin-top: 60px;
  &__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
    color: var(--white-color);
    text-align: center;
  }
  &__button {
    max-width: 242px;
    margin: 0 auto;
    margin-top: 11px;
  }
  @media (max-width: 700px) {
    &__title {
      font-size: 33px;
      line-height: 43px;
    }
  }
  @media (max-width: 426px) {
    &__title {
      font-size: 25px;
      line-height: 33px;
    }
    margin-top: 20px;
  }
}