.footer {
  background-color: var(--main-color);
  padding: 30px 0;
  &__logo {
    margin-bottom: 33px;
    img {
      width: 90px;
      height: 85px;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__ul {
    display: flex;
    margin-bottom: 60px;
  }
  &__li {
    margin-right: 10px;
    margin-left: 10px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    a {
      color: var(--white-color);
    }
  }
  &__copyright {
    color: var(--white-color);
  }
  @media (max-width: 500px) {
    &__ul {
      flex-direction: column;
      text-align: center;
    }
    &__li {
      margin-bottom: 13px;
    }
  }
}