.history {
  &__info {
    display: flex;
    align-items: center;
  }
  &__text {
    margin-right: 20px;
  }
  @media (max-width: 769px) {
    &__info {
      flex-direction: column;
    }
    &__text {
      margin-bottom: 10px;
      margin-right: 0;
    }
    &__image {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}