.subfooter {
  background-color: #F0C5E2;
  padding: 24px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__element {
    display: flex;
    align-items: center;
  }
  &__icon {
    margin-right: 15px;
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--grey-color);
  }
  @media (max-width: 769px) {
    &__wrapper {
      flex-direction: column;
      align-items: center;
    }
    &__element {
      flex-direction: column;
      margin-bottom: 20px;
    }
    &__icon {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
}